*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


@media only screen and (max-width: 900px) {
   
   
   .main_header{
       flex-direction:column;
    .main_header_links{
        margin-left: 0px !important;
        margin-top:5px !important;
    }
   }
  
}