*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


@media only screen and (max-width: 600px) {
    .main_header_links{
        margin-left: 0px !important;
    }
}